.links2
{
    background: #f8f8f8;
    padding:30px 0;
}
.links2 .container .row .breadcrumb
{
    background: #fff;
    border:1px solid #f1f1f1;
    border-radius: 5px;
    margin:0;
}
.links2 .container .row .breadcrumb .breadcrumb-item
{
    font-weight: 600;
}
.links2 .container .row .breadcrumb .who a
{
    padding-right: 10px;
    text-decoration: none;
}